.scrollable {
  position: fixed;
  left: 2.5vw;
  top: 2.5vh;
  width: 95vw;
  height: 95vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: hidden;

  border: white solid 1px;
}

.text {
  color: white;
}