$bg-color: rgba(184, 161, 161, 0.281);


/**  posn & si */
// height
$height-resume: 300vh;
$height-summary: 100vh;
$height-tools: 100vh;
// width
$width-resume: 95vw;
$width-summary: 75vw;
$width-tools: 95vw;
// top and left 
$top-resume: 100vh;