.tools-layout {
  position: relative;
  left: 2rem;
  width: $width-tools;
  height: $height-tools;
  border: solid 1px white;
  overflow-y: hidden;
}

.tools-layout h3 {
  display: flex;
  justify-content: center;
}

.tool-type-name {
  font-weight: 600;
}

.tool-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tools-group {
  display: flex;
  flex-direction: column;
  
  .tool-icon {
    width: 100px;
    height: 100px;
    margin: 20px;
    box-shadow: -4px -4px 13px $bg-color, 4px 4px 13px #292829;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .tool-info {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}


.tools-offset {
  top: 50%;
}
