@import "variables";

/* Hide scroll bar */
body {
  -ms-overflow-style: none;
  height: 500vh;
}
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

.littel-prince-fly {
  position: absolute;
  left: -20rem;
  top: 42rem;
  img {
    width: 16rem;
  }
}

.littel-prince-sit {
  position: absolute;
  right: 0;
  bottom: 15rem;
  height: 50vh; //related w/ parallax spped
  img {
    width: 16rem;
  }
}