@import "variables";


/* init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}


/* Hide scroll bar */
body {
  -ms-overflow-style: none;
  height: 500vh;
}
body::-webkit-scrollbar {
  display: none;
}


// img posn meta for parallax
.littel-prince-fly {
  position: absolute;
  left: -20rem;
  top: 42rem;
  img {
    width: 16rem;
  }
}

.littel-prince-sit {
  position: absolute;
  right: 0;
  bottom: 15rem;
  height: 50vh; //related w/ parallax spped
  img {
    width: 16rem;
  }
}